# 忽略根目錄下所有東西
*

# 但保留這兩個
!/.gitignore
!/.config/

# 保留 .config 裡面所有檔案與子資料夾（遞迴）
!/.config/**/*


!/.zshrc

.config/microsoft-edge/
/.config/LarkShell
/.config/Logseq
/.config/bytertc
/.config/JetBrains
